body{
    background-color:white;
}
h1, h2, h3{
    background-color:rgb(82, 35, 96);
    color:white;
    text-align:center;
}
.container{
   display:flex;
   gap: 5px; 
   flex-direction:column;
   align-items:flex-start;
}

.btn{
    
    padding: 5px;
    background-color:rgb(103, 102, 109);
    text-decoration:none;
    color:white;
    cursor:pointer;
    border-radius:5px;
    
}