body{
    background-color:white;
}
h1{
    background-color:brown;
    color:white;
    text-align:center;
}
.btn {
    
    display:block;
    padding: 5px;
    background-color:darkslategray;
    text-decoration:none;
    color:white;
    margin:8px;
    cursor:pointer;
    border-radius:5px;
    
   }
   
   .btn.big-mac{
    
    text-align:center;
   }
   .btn.double{
    text-align:center;
   }
   .btn.quarter{
    text-align:center;
   }